<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c4k</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>C4K.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Clonk Key</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c4u</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>C4U.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.clonk.c4group</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Clonk Update</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c4s</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>C4S.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.clonk.c4group</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Clonk Scenario</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c4d</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>C4D.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.clonk.c4group</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Clonk Definition</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c4g</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>C4G.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.clonk.c4group</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Clonk Group</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c4p</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>C4P.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.clonk.c4group</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Clonk Player</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c4f</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>C4F.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.clonk.c4group</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Clonk Folder</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Clonk</string>
	<key>CFBundleIdentifier</key>
	<string>${C4ENGINEID}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${C4ENGINEINFO}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Clonk Game Link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clonk</string>
			</array>
		</dict>
	</array>
	<key>NSMainNibFile</key>
	<string>MainMenu.nib</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>(c) ${C4COPYRIGHT_YEAR}, ${C4PROJECT}</string>
	<key>CFBundleDisplayName</key>
	<string>${C4ENGINEINFOLONG}</string>
	<key>CFBundleShortVersionString</key>
	<string>${C4VERSION}</string>
	<key>CFBundleVersion</key>
	<string>${C4XVERBUILD}</string>
</dict>
</plist>
