*~
*.bak
.deps
deps
*.o
/openclonk
/openclonk-server
/c4group
/c4script
*.a
*.c4p
planet/Records.c4f
*.lib
*.dll
config.h
C4Version.h
Makefile
C4Include.h.gch
intermediate
build*
CMakeScripts
CMakeFiles
CMakeCache.txt
planet/CMakeFiles
planet/CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
*.rule
editor-icons.h
oc-icon.h
NativeToolsExport.cmake
engine-resource.c

# Documentation
*.pyc
docs/online
docs/chm
docs/sdk-de
docs/sdk/content.xml
docs/*.mo
docs/doku.pot
docs/Functions.txt

# Visual studio files
openclonk.opensdf
openclonk.manifest
deps/
planet/Release
planet/RelWithDebInfo
planet/Debug
planet/MinSizeRel
planet/clonk.dir
planet/c4group.dir
planet/ZERO_CHECK.dir
planet/fmod.dll
planet/cmake_install.cmake
planet/clonk.sln
planet/clonk.ilk

build
planet/clonk.app
Release
RelWithDebInfo
MinSizeRel
Debug
clonk.dir
c4group.dir
ZERO_CHECK.dir
fmod.dll
cmake_install.cmake
clonk.sln
clonk.ilk
openclonk.sln
openclonk.ilk
*.vcproj
*.vcxproj
*.vcxproj.filters
/ipch

# Temporary files created by Microsoft Visual Studio
*.ncb
*.plg
*.opt
*.suo
*.sbr
*.bsc
BuildLog.htm
*.user
*.positions
*.idb
*.pdb
*.ilk

# TortoiseHg loves to generate those
*.orig

# XCode temporary files + Xcode not temporary files
.DS_Store
._*
xcode/build
*.xcodeproj

# Binaries
*.app
*.exe

# Development files explicitely excluded
planet/nohg*
*.nohg*

# Eclipse project file
planet/.project

# Code::Blocks files
openclonk.layout
openclonk.sdf
openclonk.cbp
tests/openclonk_unittest.cbp

# MacOSX saved searches
*.savedSearch
planet/OpenClonk.bat
planet/openclonk.sln
WindowsGamesExplorer.xml

# Mape
./mape
mape-icons.h


tests/openclonk_unittest.sln

# Packed groups created directly in root path
/*.oc*
