*~
*.bak
.deps
deps
*.o
/openclonk
/openclonk-server
/netpuncher
/c4group
/c4script
*.a
*.c4p
planet/Records.c4f
*.lib
*.dll
config.h
C4Version.h
Makefile
C4Include.h.gch
intermediate
/build*
CMakeScripts
CMakeFiles
CMakeCache.txt
planet/CMakeFiles
planet/CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
*.rule
editor-icons.h
oc-icon.h
NativeToolsExport.cmake
engine-resource.c
tests/CTestTestfile.cmake

# Documentation
*.pyc
node_modules
/docs/online
/docs/chm
/docs/sdk-de
/docs/sdk/content.xml
/docs/*.mo
/docs/doku.pot
/docs/Functions.txt
/docs/lunr.js

# Visual studio files
openclonk.opensdf
openclonk.manifest
deps/
planet/Release
planet/RelWithDebInfo
planet/Debug
planet/MinSizeRel
planet/clonk.dir
planet/c4group.dir
planet/ZERO_CHECK.dir
planet/fmod.dll
planet/cmake_install.cmake
planet/clonk.sln
planet/clonk.ilk
*.ipdb
*.iobj
openclonk.VC.db
openclonk.VC.VC.opendb

build
planet/clonk.app
Release
RelWithDebInfo
MinSizeRel
Debug
clonk.dir
c4group.dir
ZERO_CHECK.dir
fmod.dll
cmake_install.cmake
clonk.sln
clonk.ilk
openclonk.sln
openclonk.ilk
*.vcproj
*.vcxproj
*.vcxproj.filters
/ipch
.vs/
c4group_autogen/
c4script_autogen/
libc4script_autogen/
libmisc_autogen/
libopenclonk_autogen/
netpuncher_autogen/
openclonk-server_autogen/
openclonk_autogen/
thirdparty/blake2/blake2_autogen/

# Temporary files created by Microsoft Visual Studio
*.ncb
*.plg
*.opt
*.suo
*.sbr
*.bsc
BuildLog.htm
*.user
*.positions
*.idb
*.pdb
*.ilk

# TortoiseHg loves to generate those
*.orig

# XCode temporary files + Xcode not temporary files
.DS_Store
._*
xcode/build
*.xcodeproj

# Binaries
*.app
*.exe

# Development files explicitely excluded
planet/nohg*
*.nohg*

# Eclipse project file
planet/.project

# Code::Blocks files
openclonk.layout
openclonk.sdf
openclonk.cbp
tests/openclonk_unittest.cbp
tests/openclonk_unittest.sln

# MacOSX saved searches
*.savedSearch
planet/OpenClonk.bat
planet/openclonk.sln
WindowsGamesExplorer.xml

# Mape
./mape
/mape
mape-icons.h
mape-resource.c


# Packed groups created directly in root path
/*.oc*

# QMake stuff
*_automoc.cpp
moc_*.cpp
qrc_resource.cpp
ui_C4ConsoleQt*.h
resource.qrc.depends
*.exp
qt.conf
