[Desktop Entry]
Type=Application
Name=OpenClonk
Comment=An action-packed game of strategy, tactics, and skill.
Comment[de]=Ein actiongeladenes Taktikspiel.
GenericName=A multiplayer-action-tactic-skill game
Icon=clonk
Exec=clonk
Categories=Game;ActionGame;
StartupNotify=true
