[Desktop Entry]
Version=1.0
Name=Open Clonk
GenericName=Game
Comment=OpenClonk is mainly about mining, settling and fast-paced melees.
Exec=clonk
Icon=c4x
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;JumpNRun;
