@font-face{
	font-family: Endeavour;
	/*src: url('/Endeavour.eot');
	src: local('Endeavour'),url('/Endeavour.ttf') format("truetype");*/
}

body {
	margin: 0;
	font-size: small;
	font-family: Verdana, Arial, 'Trebuchet MS';
	background-color: white;
	color: black;
	font-size: small;
	line-height: 1.6em;
}

#iframe {
	position: absolute; top: 143px; left: 0; width: 300px; border: 0; bottom: 0; overflow: auto;
	height: auto;
	display: block;
}

#iframe > iframe {
	border: 0; overflow: auto;
	height: 100%;
	width: 100%;
	display: block;
}

#toc {
	padding-left: 1em;
}

#toc h2 {
	margin-bottom: 10px;
}

#chm {
	margin: 1em;
}

#content {
	padding: 0 1em;
	margin: 0 auto;
	position: absolute; top: 143px; left: 300px; right: 0; bottom: 0; overflow: auto;
	background: white;
}

.text, pre.code, ul, ol, dl {
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
}
/* indent the parameters of the function if it's broken into multiple lines*/
div.fnsyntax {
	text-indent: -1em;
	margin-left: 1em;
}

div.example {
	margin-top: 12px;
	margin-bottom: 36px;
}

dd {
	margin: 0;
}

.text img, dt img {
	vertical-align: middle;
	margin-right: 6px;
}

img.cpem {
	float: left;
	margin: 12px;
}

h1, h2, h3, h4, h5, h6 {
color:#222222;
}

h1 {
	font-family: Endeavour, Verdana, Sans-serif;
	font-size: 2em;
	font-weight: normal;
	margin-top: 1.32em;
	padding: 0;
	margin: 0;
	padding: .35em .1em .3em 0;
}

h2 {
	font-weight: normal;
	font-size: 140%;
	margin: 0;
	padding: 0;
	margin-top: 0.6em;
	margin-bottom: 0.2em;
	padding: .35em .1em 0 0;
	border-bottom: 1px solid #eee;
}

h3, table caption, dt {
	text-align: left;
	font-weight: bold;
	font-size:100%;
	margin: 0;
	margin-top:0.6em;
	padding:0;
}

table {
	border: 1px solid #667abe;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 11px;
	margin-bottom: 17px;
	margin-top: 0;
}

th, td {
	padding: 0 6px;
	text-align: left;
	vertical-align: top;
	margin: 0;
	border: 0;
}

th {
	font-weight: bold;
}

tr.dark, th {
	color: black;
	background-color: #f4f4f0;
}

tr.mark, tr.darkmark {
	background-color: Highlight;
	color: HighlightText;
}

code, div.fnsyntax, pre.code {
	font-family: "Dejavu Sans Mono", "BitStream Vera Sans Mono", Consolas, "Lucida Console", Monaco, monospace;
}

pre.code {
	display: block;
	white-space: pre-wrap;      /* CSS2.1 */
	word-wrap: break-word;      /* IE 5.5+ */
	padding: 8px;
	border: 1px dashed #667abe;
	color: black;
	background-color: #f4f4f0;
}

span.type, code b, pre.code b {
	font-weight: bold;
	color: navy;
	background-color: transparent;
}

code i.string, pre.code i.string {
	font-style: normal;
	color: green;
	background-color: transparent;
}

div.author {
	text-align: right;
	font-style: italic;
}

ul.contents, ul.contents ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.contents ul {
	padding-left: 1.5em;
}
ul.contents li {
	font-weight: bold;
	padding: 0; margin: 0; position: relative;
}
ul.contents li a {
	font-weight: normal;
}
ul.contents img {
	vertical-align: middle;
	margin-right: 4px;
}
ul.contents a {
	color: navy; 
	text-decoration: none;  
}  
ul.contents a.visited {
	color: navy;  
	text-decoration: none;  
}
ul.contents ul li:first-child::before,
ul.contents ul li:not(:last-child)::after {
	position: absolute;
	top: 0;
	left: -1em;
	width: 0.5em;
	border-style: none none solid solid;
	content: '';
	border-width: 0.1em;
	border-color: #ccc;
}
ul.contents ul li:first-child::before {
	height: 0.8em;
}
ul.contents ul li:not(:last-child)::after {
	bottom: -0.8em;
}
.collapseimg {
	cursor: pointer;
}
.toggleinvisi li.invisi > ul {
	display: none;
}

ul.nav {
	background: #333 url(images/cellpic_nav.gif);
	text-align: center;
	margin-bottom: 18px;
	font-size: 11px;
	background-repeat: repeat;
	line-height: 27px;
	padding: 0;
	white-space: nowrap;
}

ul.nav li {
	display: inline;
}
ul.nav a {
	color: #ccc;
	padding: 6px 10px;
	text-decoration: none;
}

ul.nav li.switchlang img {
	margin: 0;
}

a {
	color: rgb(0, 102, 153);
}
