body {
	margin: 0;
	font-size: small;
	font-family: Verdana, Arial, 'Trebuchet MS';
	background-color: white;
	color: black;
}

body {
	font-size: small;
	line-height: 1.6em;
}

.text, pre.code, ul, ol, dl {
	margin: 8px 0 12px 0;
}
/* indent the parameters of the function if it's broken into multiple lines*/
div.fnsyntax {
	text-indent: -1em;
	margin-left: 1em;
}

#content {
	padding: 0 76px;
	margin: 0 auto;
}

div.example {
	margin-top: 12px;
	margin-bottom: 36px;
}

dd {
	margin: 0;
}

img {
	margin-right: 6px;
}
.text img {
	vertical-align: middle;
}

img#cpem {
	float: left;
	margin: 0 6px 6px 18px;
}

h1, h2, h3, h4, h5, h6 {
color:#222222;
}

h1 {
	font-size: 2em;
	font-weight: normal;
	margin-top: 1.32em;
	padding: 0;
	margin: 0;
	padding: .35em .1em .3em 0;
}

h2 {
	font-weight: normal;
	font-size: 150%;
	margin: 0;
	padding: 0;
	margin-top: 0.8em;
	padding: .35em .1em 0 0;
	border-bottom: 3px solid #eee;
}

h3, table caption, dt {
	text-align: left;
	font-weight: bold;
	font-size:132%;
	margin: 0;
	border-bottom:1px solid #eee;
	margin-bottom:0.3em;
	margin-top:1em;
	padding:0.2em 0.1em 0.3em 0;
}

table {
	border: 1px solid #667abe;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 11px;
	margin-bottom: 17px;
	margin-top: 0;
}

th, td {
	padding: 0 6px;
	text-align: left;
	vertical-align: top;
	margin: 0;
	border: 0;
}

th {
	font-weight: bold;
}

tr.dark, th {
	color: black;
	background-color: #f4f4f0;
}

tr.mark, tr.darkmark {
	background-color: Highlight;
	color: HighlightText;
}

code, div.fnsyntax, pre.code {
	font-family: "Dejavu Sans Mono", "BitStream Vera Sans Mono", Consolas, "Lucida Console", Monaco, monospace;
}

pre.code {
	display: block;
	white-space: -moz-pre-wrap; /* Gecko */
	white-space: -pre-wrap;     /* Opera 4 - 6 */
	white-space: -o-pre-wrap;   /* Opera >= 7 */
	white-space: pre-wrap;      /* CSS2.1 */
	word-wrap: break-word;      /* IE 5.5+ */
	padding: 8px;
	border: 1px dashed #667abe;
	color: black;
	background-color: #f4f4f0;
}

span.type, code b, pre.code b {
	font-weight: bold;
	color: navy;
	background-color: transparent;
}

code i.string, pre.code i.string {
	font-style: normal;
	color: green;
	background-color: transparent;
}

div.author {
	text-align: right;
	font-style: italic;
}

ul.nav {
	background: #333 url(images/cellpic_nav.gif);
	text-align: center;
	margin-bottom: 18px;
	font-size: 11px;
	background-repeat: repeat;
	line-height: 27px;
	padding: 0;
	white-space: nowrap;
}

ul.nav li {
	display: inline;
}
ul.nav a {
	color: #ccc;
	padding: 6px 10px;
	text-decoration: none;
}

ul.nav a:hover, ul.nav a:hover {
	background: #333 url(images/stripe-wide.gif) left repeat-x;
}

ul.nav li.switchlang img {
	margin: 0;
}


